src/main/resources/car.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	targetNamespace="http://spring.io/guides/gs-producing-web-service"
	xmlns:tns="http://spring.io/guides/gs-producing-web-service"

	elementFormDefault="qualified">

	<xs:element name="PremiumCalculatorRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="customerAge" type="xs:int" />
				<xs:element name="vehicleType" type="xs:string" />
				<xs:element name="location" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PremiumCalculatorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="premium" type="xs:double" />
				<xs:element name="message" type="xs:string" />
				<xs:element name="success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>