src/main/resources/emiCalculator.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	targetNamespace="http://spring.io/guides/gs-producing-web-service"
	xmlns:tns="http://spring.io/guides/gs-producing-web-service"

	elementFormDefault="qualified">
 
    <xs:element name="CalculateEmiRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="principal" type="xs:double"/>
                <xs:element name="annualInterestRate" type="xs:double"/>
                <xs:element name="tenureMonths" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="CalculateEmiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="emi" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
</xs:schema>