src/main/resources/readTextFile.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	targetNamespace="http://spring.io/guides/gs-producing-web-service"
	xmlns:tns="http://spring.io/guides/gs-producing-web-service"

	elementFormDefault="qualified">
 
      <xs:element name="TextFileRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fileName" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="TextFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content" type="xs:string" />
                <xs:element name="success" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
</xs:schema>