src/main/resources/shipping.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

	targetNamespace="http://spring.io/guides/gs-producing-web-service"
	xmlns:tns="http://spring.io/guides/gs-producing-web-service"

	elementFormDefault="qualified">
 
      <xs:element name="ShippingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="shippingMode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="ShippingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estimatedDeliveryDate" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
</xs:schema>